<div class="container">
  <div class="row">
    <h2 class="mt-5">編集</h2>
  </div>

 　　　<%= form_with model: @movie, local:true do |f| %>
    　<table class="table table-hover table-borderless">
    　 <tr>
      　 <th>作品名</th>
      　 <td><%= f.text_field :title %></td>
    　 </tr>
    　 <tr>
          <th>評価</th>
          <td>
               <div id="rate_stars">
                <!--<label>評価</label>-->
               </div>
            </td>
        </tr>
    　 <tr>
    　   <th>レビュー</th>
    　   <td><%= f.text_area :review, size: "50x3" %></td>
    　 </tr>
    　 <tr>
    　   <th>ジャンル</th>
    　   <td><%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "-- 選択してくたさい --"} %></td>
    　 </tr>
    　</table>

 　　　<div class="mb-md-5">
        <%= f.submit "変更を保存" ,class: "btn btn-success" %>
        <%= link_to "投稿詳細",movie_path(@movie.id), class: "btn btn-primary" %>
      </div>
      <% end %>
</div>

     
<script>
$(document).on('turbolinks:load', function(){
  $('#rate_stars').empty();
  $('#rate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'movie[rate]' //登録するモデル名とカラム名を記述
  });
});
</script>