<h1>作品編集画面</h1>
<%= form_with model: @movie, local:true do |f| %>
<h4>作品名</h4>
<%= f.text_field :title %>
<h4>レビュー</h4>
<%= f.text_area :review %>

<h4>視聴日</h4>
<%= f.text_field :date %>
<h4>ジャンル</h4>
<%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "-- 選択してくたさい --"} %>
<%= f.submit "変更を保存" ,class: "btn btn-primary" %>
<% end %>

<%= link_to "Show",movie_path(@movie.id)%>
