<div class="container">
  <div class="row">
    <table class="table table-hover table-bordered mt-3 #FFFAFA">
      <thead class="thead-light">
        <tr class="info">
          <th>画像</th>
          <th>ユーザー名</th>
          <th>作品名</th>
          <th>いいね数</th>
          <th>星レビュー</th>
          <th>投稿日</th>
        </tr>
      </thead>
      <tbody class="text-center">
        <% @movies.each do |movie| %>
        <tr>
          <td>
            <%= attachment_image_tag movie.user, :profile_image, :fill, 70, 70, fallback: "no_image.png" %>
          </td>
          <td>
            <%= link_to movie.user.username, user_path(movie.user) %>
          </td>
          <td>
            <%= link_to movie.title, movie_path(movie.id) %>
          </td>
          <td>
            ♥<%= movie.favorites.count %>
          </td>
          <td>
            <div class="movie-rate" data-score="<%= movie.rate %>"></div>
          </td>
          <td>
            <%= movie.created_at.strftime("%Y年%m月%d日") %>
          </td>
          <% end %>
          
        </tr>
      </tbody>
    </table>
  </div>
</div>
<%= paginate @movies %>

<script>
$(document).on('turbolinks:load', function(){
  $('.movie-rate').empty();
  $('.movie-rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
});
</script>
