<h1>新規投稿</h1>
<%#= form_with model: @movie, url: "", method: :post, local:true do |f| %>
<%= form_with model: @movie, url: "/movies", method: :post, local:true do |f| %>
<h4>作品名</h4>
<%= f.text_field :title %>
<h4>レビュー</h4>
<%= f.text_area :review %>

<div id="rate_stars">
    <label>評価</label>
</div>

<h4>視聴日</h4>
<%= f.text_field :date %>
<h4>ジャンル</h4>
<%= f.collection_select :genre_id, Genre.all, :id, :name, {include_blank: "-- 選択してくたさい --"} %>
<%= f.submit "作品登録" ,class: "btn btn-success" %>
<% end %>


<script>
$(document).on('turbolinks:load', function(){
  $('#rate_stars').raty({
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'movie[rate]' //登録するモデル名とカラム名を記述
  });
});
</script>