<h1>作品詳細</h1>
<p>作品名<%= @movie.title %></p>
<p>レビュー<%= @movie.review %></p>

<p>評価</p>
<div class="movie-rate" data-score="<%= @movie.rate %>"></div>

<p>視聴日<%= @movie.date %></p>
<p>ジャンル<%= @movie.genre.name %></p>

<div id="favorite_<%= @movie.id %>">
    <%= render "favorites/favorite", movie: @movie %>
</div>


<%= form_with(model:[@movie,@movie_comment], remote: true, method: :post, value: "") do |f| %>
<%= f.text_area :comment, size: "80x10" %><br>
<%= f.submit "送信する" %>
<% end %>

<div id="comment-<%= @movie.id %>">
     <%= render 'movies/comment', movie: @movie %>
</div>

<% if @movie.user_id == current_user.id %>
  <td><%= link_to "Edit", edit_movie_path(@movie.id),class:"btn-sm btn-success" %></td>
  <td><%= link_to "Destroy", movie_path(@movie.id), class:"btn-sm btn-danger", method: :delete, data: {confirm: "削除しますか？"} %></td>
<% end %>

<script>
$(document).on('turbolinks:load', function(){
  $('.movie-rate').empty();
  $('.movie-rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
});
</script>