<div class="container">
  <div class="row">
    <h2 class="mt-5">編集</h2>
  </div>

　　　<%= form_with model: @user, url:user_path, local:true do |f| %>
    　　　<table class="table table-hover table-borderless">
    　　　  <tr>
    　　　    <th>画像</th>
    　　　    <td>
    　　　      <%= f.label :profile_image, "プロフィール画像" %>
             <%= f.attachment_field :profile_image %>
    　　　    </td>
    　　　  </tr>
    　　　  <tr>
    　　　    <th>ユーザー名</th>
    　　　    <td><%= f.text_field :username %></td>
    　　　  </tr>
    　　　  <tr>
    　　　    <th>プロフィール</th>
    　　　    <td><%= f.text_area :introduction, size: "50x3" %></td>
    　　　  </tr>
    　　　</table>

      　<div class="mb-md-5">
         <%= f.submit 'Update User',class: "btn-secondary" %>
        </div>
      <% end %>
</div>
