<h1>ユーザー一覧</h1>

<% @users.each do |user| %>
  <%= link_to user_path(user) do %>
    <%= attachment_image_tag user, :profile_image_id, fallback: "no_image.png" %>
  <% end %>

  <%=link_to user.username, user_path(user) %>
  投稿数：<%= user.movies.count %>
  
<% end %>

<!--DM機能14行目〜-->
<% if user_signed_in? %> 
<h2>Hello <%= current_user.email %></h2>
  <% @users.each do |u| %>
  <p><a href="/users/<%= u.id %>"><%= u.email %>さん</a></p>
  <hr>
  <% end %>
  <%= link_to "ログアウト", destroy_user_session_path, :method => :delete %>
<% else %>
  <%= link_to "ユーザーを登録する", new_user_registration_path %>
  <br>
  <%= link_to "ログインする", new_user_session_path %>
<% end %>