  <div class="container">
    <div class="row">
          <div class="col-3">
           <div class="text-center mt-5">
            <%= attachment_image_tag @user, :profile_image, :fill, 200, 200, fallback: "no_image.png", format: "no_image.png" %>
           </div>
          </div>

      <div class="col-9 mt-5">
        <table class="table table-hover table-borderless">
          <tr class="d-flex">
            <td class="col-4">
              <strong><%= @user.username %></strong>
            </td>
            <% if @user.id == current_user.id %>
            <td class="col-4">
              <%= @user.email %>
            </td>
            <td class="col-4">
              <%= link_to "編集する", edit_user_path(@user), class: "btn btn-md btn-success" %>
            </td>
            <% end %>
          </tr>
          <tr class="d-flex">
            <td class="col-4">
              投稿数：<%= @user.movies.count %>
            </td>
            <td class="col-4">
              フォロワー<%= link_to @user.followers.count, followers_user_path(@user.id) %>人
            </td>
            <td class="col-4">
              フォロー<%= link_to @user.followings.count, follows_user_path(@user.id) %>人
            </td>
          </tr>
        </table>
        <table>
          <tr>
            <td>
              <%= @user.introduction %>
            </td>
          </tr>
        </table>
   　</div>
  </div>
</div>

<div class="text-center mt-1">
<% if @user.id == current_user.id %>
  <%= link_to "新規投稿", new_movie_path, class: "btn btn-md btn-success" %>
<% end %>
</div>

<!--自分の投稿一覧-->

<% if current_user != @user %>
<% if current_user.following?(@user) %>
<p><%=link_to "フォロー外す", user_relationship_path(@user.id), method: :delete %></p>
<% else %>
<p><%=link_to "フォローする", user_relationships_path(@user.id), method: :post %></p>
<% end %>
<% end %>

<div class="container">
  <div class="row">
    <table class="table table-hover table-bordered mt-3 #FFFAFA">
      <thead class="thead-light">
        <tr class="info">
          <th>作品名</th>
          <th>いいね数</th>
          <th>星レビュー</th>
          <th>投稿日</th>
        </tr>
      </thead>
      <tbody>
        <% @user.movies.each do |movie| %>
        <tr>
          <td>
            <%= link_to movie_path(movie) do %>
            <%= movie.title %>
          </td>
            <% end %>
          <td>♥<%= movie.favorites.count %></td>
          <td><div class="movie-rate" data-score="<%= movie.rate %>"></div></td>
          <td><%= movie.created_at.strftime("%Y年%m月%d日") %></td>
        <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>


<% if @user.id == current_user.id %>
<% else %>
  <% if @isRoom == true %>
    <p><a href="/rooms/<%= @roomId %>">チャットへ</a></p>
  <% else %>
    <%= form_for @room do |f| %>
      <%= fields_for @entry do |e| %>
        <%= e.hidden_field :user_id, :value=> @user.id %>
      <% end %>
      <%= f.submit "チャットを始める" %>
    <% end %>
  <% end %>
<% end %>


<script>
$(document).on('turbolinks:load', function(){
  $('.movie-rate').empty();
  $('.movie-rate').raty({
    readOnly: true,
    score: function() {
      return $(this).attr('data-score');
    },
    path: '/assets/'
  });
});
</script>
