<div class="container">
  <div class="row">
   <h2 class="mt-5">検索結果</h2>
  </div>

<table class="table table-hover table-inverse">
  <!--検索対象モデルがUserの時 -->
  <% if @range == "User" %>
   <thead class="thead-light">
        <tr class="info">
          <th>画像</th>
          <th>ユーザー名</th>
          <th>自己紹介</th>
        </tr>
      </thead>
    <tbody>
    <tbody>
      <% @users.each do |user| %>
        <tr>
          <td><%= attachment_image_tag user, :profile_image, :fill, 70, 70, fallback: "no_image.png" %></td>
          <td><%= link_to user.username, user_path(user) %></td>
          <td><%= user.introduction %></td>
        </tr>
      <% end %>
    </tbody>
  <% else %>
    <!--検索対象モデルがUserではない時(= 検索対象モデルがBookの時) -->
    <thead class="thead-light">
        <tr class="info">
          <th>ユーザー名</th>
          <th>作品名</th>
          <th>感想</th>
        </tr>
      </thead>
    <tbody>
      <% @movies.each do |movie| %>
        <tr>
          <td><%= link_to movie.user.username, user_path(movie.user) %></td>
          <td><%= link_to movie.title, movie_path(movie.id) %></td>
          <td><%= movie.review %></td>
        </tr>
      <% end %>
    </tbody>
  <% end %>
</table>
</div>