<!DOCTYPE html>
<html>
  <head>
    <title>BORDERLESS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3c6a697724.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header class="top-page-header">
      
          <%= link_to "/" do %>
          <%= image_tag "Borderless-logo.png", :size =>'100x70' %>
          <% end %>


        
            <ul class="lists-right">
              <% if user_signed_in? %>
               <li class="nav-item"><%= link_to "マイページ",user_path(current_user), class: "size" %></li>
               <li class="nav-item"><%= link_to "ユーザー一覧",users_path, class: "size" %> </li>
               <li class="nav-item"><%= link_to "投稿一覧",movies_path, class: "size" %></li>
               <li class="nav-item"><%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "size" %></li>
              <% else %>
               <li class="nav-item"><%= link_to "新規登録",new_user_registration_path, class: "size" %> </li>
               <li class="nav-item"><%= link_to "ログイン",new_user_session_path, class: "size"%></li>
              <% end %>
            </ul>
         

       
      
    </header>

    <main class="main">
    <%= yield %>
    </main>

    <footer>
      <div class="navbar navbar-expand-lg navbar-light" style="background-color: #800000;">
        <p class= "footer_text mx-auto">CopyRight Infratop.inc</p>
      </div>
    </footer>

  </body>
</html>
