<!DOCTYPE html>
<html>

  <head>
    <title>BORDERLESS</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/3c6a697724.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@800&display=swap" rel="stylesheet">
  </head>

  <body>
   <header>
        <nav class="navbar navbar-expand-lg navbar-light", style="background-color: #FAFAFA;">
          <%= link_to "/" do %>
          <%= image_tag "logo.png", :size =>'100x30' %>
          <% end %>
          <ul class="navbar-nav ml-auto mr-3">
            <% if user_signed_in? %>
              <li class="nav-text my-3 text-center">ようこそ、<%= current_user.username %>さん！</li>
              <li class="nav-button btn btn-sm mx-2 my-auto"><%= link_to "マイページ",user_path(current_user), class: "nav-link" %></li>
              <li class="nav-button btn btn-sm mx-2 my-auto"><%= link_to "登録者一覧",users_path, class: "nav-link" %> </li>
              <li class="nav-button btn btn-sm mx-2 my-auto"><%= link_to "投稿一覧",movies_path, class: "nav-link" %></li>
              <li class="nav-button btn btn-sm mx-2 my-auto"><%= link_to "ログアウト",destroy_user_session_path, method: :delete, class: "nav-link" %></li>
              <li class="col-auto mx-auto"><%= render 'searches/search' %></li>
            <% else %>
            　<li class="nav-button btn btn-sm mx-2 my-auto"><%= link_to "ゲストログイン（閲覧用）", homes_guest_sign_in_path, method: :post, class: "nav-link" %></li>
              <li class="nav-button btn btn-sm mx-2 my-auto"><%= link_to "新規登録",new_user_registration_path, class: "nav-link" %></li>
              <li class="nav-button btn btn-sm mx-2 my-auto"><%= link_to "ログイン",new_user_session_path, class: "nav-link" %></li>
            <% end %>
          </ul>
        </nav>
    </header>

    <main class="main">
    <%= yield %>
    </main>

    <footer>
        <div class="navbar navbar-expand-lg navbar-light" style="background-color: #FAFAFA;">
          <p class= "footer_text mx-auto">BORDERLESS</p>
        </div>
    </footer>

  </body>

</html>